@font-face {
  font-family: 'square matrix regular';
  src: url('https://raw.githubusercontent.com/ZainAlAbideenKhan/fonts/main/Square-Dot-Matrix.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #a6d9dc;
  justify-content: space-evenly;
  height: 100vh;
}

.ui { 
  padding: 5px 30px;
  margin: 10px 0;
  border: dotted 2px #44787c;
}
.enable-keyboard input {
  cursor: pointer;
  outline: none;
}

.microprocessor8085 {
  position: relative;
  padding: 0 20px;
  width: 928px;
  height: 577px;
}
.microprocessor8085-img {
  position: absolute;
  width: 976px;
}

.reset-button button {
  position: absolute;
  top: 42.5px;
  left: 94.25px;
  width: 70px;
  height: 70px;
  font-family: system-ui;
  letter-spacing: 1.5px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background: #f92f2f;
  border: solid 2px #fff;
  border-radius: 7.5px;
  cursor: pointer;
}

.power-led {
  position: absolute;
  top: 422.35px;
  left: 767.35px;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 100%;
  border: 3px solid transparent;
  box-shadow: 0 0 8px 4px rgb(255 17 0);
}
.power-switch {
  position: absolute;
  top: 376.5px;
  left: 812px;
  width: 15px;
  height: 15px;
  background-color: #353535;
  cursor: pointer;
  transition: left 100ms ease-in 100ms;
}

.screen {
  position: absolute;
  top: 407px;
  left: 299px;
  width: 400px;
  height: 90px;
  border: solid 3px #151515;
  border-radius: 4px;
  background-color: #e7d849;
  margin-bottom: 10px;
  cursor: pointer;
}

.screen .text {
  position: absolute;
  font-size: 30px;
  font-family: 'square matrix regular', sans-serif;
  font-weight: 600;
  top: 10px;
  left: 50px;
  color: #11200e;
}
.screen .input {
  position: absolute;
  font-size: 30px;
  font-family: 'square matrix regular', sans-serif;
  font-weight: 600;
  top: 10px;
  left: 4px;
  color: #11200e;
}
/* developer info section */
section.info-section {
  position: absolute;
  width: 30%;
  left: 0;
  bottom: 0;
  font-size: 11px;
  font-family: monospace;
  padding: 7px 10px;
}